.commonTable th {
    padding: 10px 4px;
    color: var(--color-gray4);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-right: 1px solid var(--color-gray2);
    border-bottom: 1px solid var(--color-gray2);
    background-color: transparent;
}

.commonTable td {
    padding: 18px 4px;
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    border-right: 1px solid var(--color-gray2);
    border-bottom: 1px solid var(--color-gray2);
    background: var(--color-white);
}
.commonTable thead th:last-child {
    border-right:0;
}
.commonTable tbody tr:last-child th,
.commonTable tbody tr:last-child td {
    border-bottom:0;
}
.commonTable tbody tr td:last-of-type {
    border-right: 0;
}
.commonTable tbody tr:hover td {
    background-color: var(--color-gray2);
    cursor: pointer;
}
