button {
    height: 44px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
}

/* variant */
.black {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);
}
.white {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
