.container {
    display: flex;
    gap: 40px;
}

.clientListCon {
    width: 605px;
}

.detailListCon {
    flex: 1;
}

.btnCon {
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
}

.btnCon button {
    width: 93px;
}
